<section class="login-form">
    <form
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
    >
        <mat-form-field>
            <input
                type="email"
                matInput
                placeholder="Your email"
                formControlName="email"
                required
                autocomplete="username"
            />
            <mat-error *ngIf="loginForm.controls.email.hasError('required')">Email must not be empty.</mat-error>
            <mat-error *ngIf="!loginForm.controls.email.hasError('required')">E-mail is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be at least 6 characters long.">
            <input
                matInput
                required
                type="password"
                placeholder="Your password"
                formControlName="password"
                minlength="6"
                autocomplete="current-password"
            />
            <mat-hint align="end">{{ loginForm.controls.password.value?.length }}</mat-hint>
            <mat-error>Has to be at least 6 characters long.</mat-error>
        </mat-form-field>
        <button [disabled]="loginForm.invalid" type="submit" mat-raised-button color="primary">Submit</button>

        <button type="button" mat-raised-button class="btn btn-block" (click)="signInWithGoogle()">
            <i class="fa fa-google" aria-hidden="true"></i>
            Login with Google
        </button>
    </form>
</section>
